# Drizzle / Postgres
DATABASE_URL="postgres://root:mysecretpassword@localhost:5432/local"

# better-auth — generate with `openssl rand -base64 32`
BETTER_AUTH_SECRET="change-me-please-please-please-32chars"
BETTER_AUTH_URL="http://localhost:5173"
